.navbar {
    padding-top: 0; 
    padding-bottom: 0; 
}
.encuadreEnlaces{
    margin-top: 3.9rem!important;
    margin-bottom: 2rem;
}
.tituloCurso{
    background: #0b6efd;
    margin-top: 1rem;
    height: 2rem;
    text-align: center;
    font-size: 19px;
    font-family: monospace;
    box-shadow: 0px 8px 12px 1px rgb(134 123 123 / 58%), 0px -10px 8px 0px #2196f3 inset;
    border-radius: 0px 0px 45px 45px;
    color: white;
    font-weight: bold;
}
.form-select{
    width: 90%;
    margin: 0 auto ;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}
.botonFiltro{
    width: 90%;
    margin: 0 auto;
    margin-top: 0.5rem;
}
.cartaAncho{
    width: 261px;
    height: 385px;
}
.cartaAncho:hover{
    animation: cartaHover 1s cubic-bezier(0.18, 0.89, 0.32, 1.28)  forwards;
}
@keyframes cartaHover {
    0%{            
        box-shadow: 0px 0px 0px rgb(134 123 123 / 47%);
      }  
      100%{
        box-shadow: 6px 8px 5px rgb(134 123 123 / 47%);
         }
}
.botonAñadir{
    width: 100%;
}
.textoJustificado{
    text-align: justify;
}
.cantidadCesta{
    color: #20c997;
    font-weight: bold;
    position: relative;
    right: 34px;
    bottom: 11px;
    font-size: 23px;
}
.bi-cart2::before {
    content: "\f243";
    font-size: 45px;
    z-index: 1;
    position: relative;
    color: #cbcbcb4a;
}
.dropdown-toggle::after {
    font-size: 30px;
}
.dropdown-menu {
    min-width: 17.5rem;
}
.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    right: 16px;
    left: auto;
    border-radius: 10px 10px 0 0;
}
.h6cesta{
    background: #1ec997;
    color: white;
    border-radius: 10px 10px 0 0;
    position: relative;
    bottom: 9px;
    padding: 5px 17px;
}
.cestaImagen{
    width: 20%;
    padding-right: 8px;
} 
.dropdown-item {
    font-size: smaller;
}
.h6, h6 {
    padding-left: 1rem;
}
hr:not([size]) {
    color: #0b6efd;
}
hr {
    margin: 0.5rem;
    width: 90%;
}
.conStock{
    color:green;
    margin-top: 4px;
}
.SinStock{
   color: red;
    margin-top: 4px;
}
.cestaNombrePrecio{
    display: inline-flex;
    font-weight: bold;
}
.cestaPrecio{
    font-weight: bold;
    color:red;
    margin-left: 0.5rem;
}
.fotoMaterial{
    padding: 22px;
    width: 100%;
    margin: 7px auto;
    align-items: center;
    justify-content: center;
    display: flex;;
}
.cartaMaterial{
    width: 225px;
    height: 151px;
}
.cartaMaterialBody{
    max-height: 149px;
    height: 149px;
    width: 138px;
}
.rowSinpadding{
    padding-right:0 !important;
    padding-left: 0 !important;
}
.PrecioMaterial{
    padding-left: 15px;
}
.botonAñadirMaterial{
    width: 96%;
    margin-left: 10px;
    border-radius: 0px 0px 14px 14px;
}
.h6cestaMaterial {
    background: #c97d1e;
    color: white;
    position: relative;
    bottom: 9px;
    padding: 5px 17px;
}






